# Include this file into your ~/.bashrc
# -------------------------------------
export PYENV_ROOT="/home/{{ bi_user }}/pyenv"
export PATH="$PYENV_ROOT/shims:$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
