function backup {
    cd '{{ backups_role_tmp_path }}'

{% for item in bi_databases %}
    export PGPASSWORD='{{item.reader_password}}'
    run "pg_dump -h 127.0.0.1 -U {{item.reader_user}} -d dwh_{{item.name}} >back_dwh_{{item.name}}.sql"
    A=`docker ps --filter "name=dwh_{{item.name}}_superset_db" -q`
    B=`docker inspect -f '{% raw %}{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}{% endraw %}' $A`
    export PGPASSWORD='superset'
    run "pg_dump -h $B -U superset  superset >back_superset_dwh_{{item.name}}.sql"
{% endfor %}
}

log Perform database dump from superset and dwh database
run backup