server {

  listen 443 ssl;
  server_name {{ inventory_hostname }};

  proxy_read_timeout 720s;
  proxy_connect_timeout 720s;
  proxy_send_timeout 720s;

  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Real-IP $remote_addr;

  ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;

  ssl on;

  location / {
    proxy_redirect off;
    proxy_pass http://superset;
  }

{%- if reportserver_filename is defined  %}
  location /reportserver/ {
    proxy_redirect off;
    proxy_pass http://reportserver;
  }
{%- endif %}

{%- if bi_grafana_path is defined %}
  location /grafana/ {
     proxy_redirect off;
     proxy_pass http://grafana;
  }
{%- endif %}

{%- if bi_airflow_scripts_repo is defined %}
  location /airflow/ {
     proxy_redirect off;
     proxy_pass http://airflow;
  }
{%- endif %}

{%- if bi_monitoring_enabled %}
  location /node/ {
    include proxy_params;
    proxy_redirect off;
    proxy_pass http://nexporter/metrics;

    auth_basic            "closed site";
    auth_basic_user_file  auth_basic/node_exporter;

    access_log /var/log/nginx/node_exporter.access.log;
    error_log /var/log/nginx/node_exporter.error.log;
  }

{%- endif %}

{%- if monitoring_postgres_exporter_enabled %}
  location /postgres/ {
    include proxy_params;
    proxy_redirect off;
    proxy_pass http://pexporter/metrics;

    auth_basic            "closed site";
    auth_basic_user_file  auth_basic/postgres_exporter;

    access_log /var/log/nginx/postgres_exporter.access.log;
    error_log /var/log/nginx/postgres_exporter.error.log;
  }

{%- endif %}


  access_log /var/log/nginx/bi.access.log;
  error_log /var/log/nginx/bi.error.log;
}



{% for item in bi_databases %}

{%if item.domain!="main" %}
server {

  listen 443 ssl;
  server_name {{item.domain}};

  proxy_read_timeout 720s;
  proxy_connect_timeout 720s;
  proxy_send_timeout 720s;

  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Real-IP $remote_addr;

  ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;

  ssl on;

  location / {
    proxy_redirect off;
    proxy_pass http://superset{{item.name}};
  }

  access_log /var/log/nginx/bi.access.log;
  error_log /var/log/nginx/bi.error.log;
}
{%- endif %}

{% endfor %}