function backup {
    cd '{{ backups_role_tmp_path }}'
    export PGPASSWORD='{{bi_postgresql_reader_password}}'
    run "pg_dump -h 127.0.0.1 -U reader -d dwh >back_dwh.sql"
    A=`docker ps --filter "name=superset_db" -q`
    B=`docker inspect -f '{% raw %}{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}{% endraw %}' $A`
    export PGPASSWORD='superset'
    run "pg_dump -h $B -U superset  superset >back_superset.sql"
    # TODO CONFIGURE IP SUPERSET!
    #pg_dump -h 172.18.0.6 -U superset  superset >back_superset.sql
}

log Perform database dump from superset and dwh database
run backup